:root {
  --main-color: green;
}

.add-book {
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  gap: 15px;
}

.card-body a {
  width: 100%;
  margin-bottom: 10px;
}

input[type=checkbox] {
  cursor: pointer;
  vertical-align: middle;
  font-size: 20px;
}

.read-btn {
  display: none;
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}