@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --background-color: #f8f3ed;
    --primary-color: #f3e5d0;
    --secondary-color: #daaa63;
    --text-color: #2d1a12;
    --text-color-2: #dcb070;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

html {
  font-size: 10px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

body {
    height: 100%;
    background-color: var(--background-color);
}

header {
    height: 50%;
    background-color: var(--primary-color);
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-nav, .right-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.left-nav {
    margin-left: 30px;
}

.right-nav {
    margin-right: 30px;
}

.profile-img {
    border-radius: 30px;
    width: 50px;
    height: auto;
}